body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Helvetica, sans-serif;
}

.navbar {
  display: flex;
  background-color: #202129;
  padding: 5px 30px 5px 30px;
}

.brand {
  flex: 8;
  color: #fff;
}

.link1 {
flex: 1;
color: #fff;
margin-top: 20px;
font-size: 16px;

}

.link2 {
flex: 1;
color: #fff;
margin-top: 20px;
font-size: 16px;
}

.link3 {
flex: 1;
color: #fff;
margin-top: 20px;
font-size: 16px;
}

#navbutton {
  background-color: #E24E67;
  color: #fff;
  border-color: #E24E67;
  border-radius: 10px;
  height: 40px;
  margin-top: 10px;
  width: 100px;
  font-size: 16px;

}

#herocircle {
  width: 300px;
  height: 300px;
  border-radius: 250px;
}

.section1 {
  display: flex;
  padding: 150px 250px;
  background-color: #202129;

}

.section1left {
  flex: 1.5;
  color: #fff;
  padding-right: 60px;

}

.section1right {
  color: #fff;
  flex: 1;

}

.section1 > .section1left > h2{
  font-size: 38px;
  font-weight: 300px;
}

.section1 > .section1left > pre{
  font-size: 19px;
  font-family: "Roboto", Helvetica, sans-serif;
}
